html, body { padding: 0; margin: 0; }
html { font-size: 1em; }
body { font-size: 100%; }
a img, :link img, :visited img { border: 0; }


body { 
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 13px;
  line-height: 1.8em;
  color: #111;
  background: #fff;
  padding: 10px 60px 60px 100px;
  width: 660px;
}

a { 
  color: #D63500; 
  text-decoration: none;
}

a:hover { 
  text-decoration: underline;
}

h1 { 
  font: normal 2.5em Georgia, Times, "Times New Roman", serif;
  color: #000;
  border-bottom: 1px solid #ddd; 
}

h2 { 
  font-size: large; 
  font-weight: normal; 
}

h3 { 
  font-size: normal; 
  font-weight: normal; 
}

img { 
  border: none; 
}

span.archive {
  float: right;
}

hr {
    height: 1px;
    border: 0;
    color: #ddd;
    background-color: #919191;
    width: 100%;
    
}

hr.interblog {
  height: 1px;
  border: 0;
  color: #919191;
  background-color: #919191;
  width: 80%;
  margin: 3em;
}

hr.interarchive {
  height: 1px;
  border: 0;
  color: #C8C8C8;
  background-color: #C8C8C8;
  width: 100%;
}

#content {
  width: 750px;
  margin: 0 auto;
}

#header {
  margin-top: 4em;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav li {
  display: inline;
  margin-right: 10px;
  padding: 0;
}

#main_block { 
  float: left;
  width: 800px;
  margin-top: 3em; 
  font-size: normal;
}

#sidebar {
  float: right;
  width: 200px;
  margin-top: 3em; 
  margin-left: 50px;
}

#sidebar ul {
  font-size: 90%;
  list-style-position: outside;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
}

.after_post { 
  /* margin-top: 2em; */
  font-size: x-small; 
  color: gray; 
  text-align: left;
}

#footer { 
  clear: both;
  margin-top: 2em;
  font-size: x-small; 
  color: gray; 
  text-align: left;
}

